In [1]:
import gen_dataset_810 as mod_810fr
# importer datetime pour typer les donnees de dates des chaines et des videos
import datetime
# module https://810.fr pour traitement des tags des videos
import gen_tags_visu_810 as tv810
# module https://810.fr pour casser les gros dataframe ou activites mensuelles
import gen_activitemensuelle_data_810 as amd810



# Définition des dates limites pour les filtres de https://s01.810.fr
liste_mois = [{"mois" : "Janvier", "dates" : {"datemin" : datetime.datetime(2022, 1, 1, 0, 0, 0), "datemax" : datetime.datetime(2022, 2, 1, 0, 0, 0)}},
                {"mois" : "Février", "dates" : {"datemin" : datetime.datetime(2022, 2, 1, 0, 0, 0), "datemax" : datetime.datetime(2022, 3, 1, 0, 0, 0)}},
                {"mois" : "Mars", "dates" : {"datemin" : datetime.datetime(2022, 3, 1, 0, 0, 0), "datemax" : datetime.datetime(2022, 4, 1, 0, 0, 0)}}]


# Récupération des fichiers générés à partir des API YouTube
folder_candidats = './data_sources/stats_videos/2022_03_26/'
# Création d'un datafram qui agrège les fichiers
dt_candidats = mod_810fr.mb_ds()
# Génération d'un dataframe de vidéos et d'un dataframe de chaîne (exemple dans les blocs qui suivent)
videos_candidats_toutes, chaines_candidats_toutes  = dt_candidats.get_full_data_candidat(folder = folder_candidats)
# Generation d'un dataframe par mois sous la forme d'une liste de [{"mois" : moisassocie, "dataframe" : dataframedumois}]
liste_dtf_mensuel = amd810.un_dtf_par_mois(dtfglobal=videos_candidats_toutes, list_dict_dates=liste_mois)

Imported 11 channel data

In [2]:
candidats = chaines_candidats_toutes.candidat.unique()
candidats

array(['Eric Zemmour', 'Marine Le Pen', 'Anne Hidalgo',
       'Valérie Pécresse', 'Jean Lassalle', 'Jean-Luc Mélenchon',
       'Nathalie Arthaud', 'Nicolas Dupont-Aignan', 'Fabien Roussel',
       'Avec vous', 'Yannick Jadot'], dtype=object)

In [3]:
# videos_candidats_toutes.head(20)

- 1 top tags global, avec la part pour chaque mois
- 1 top tags par mois


- Necessite de parler en nombre de videos Taggees
Qui tags et pourquoi.

In [4]:
datemin = liste_mois[0]["dates"]["datemin"]
datemax = liste_mois[-1]["dates"]["datemax"]

# Yannick Jadot

In [5]:
candidat = "Yannick Jadot"
lst_exceptions = []

In [6]:
# Récupère seulement les vidéos d'un candidat dans le dtf globale sur la base du nom du candidat et des dates limites choisies
videos_can = amd810.get_candidat_subdtf(dtfglobal=videos_candidats_toutes, candidat=candidat, datemin=datemin, datemax=datemax)
# Crée une liste de dataframe par mois
dtf_mensuel_candidat = amd810.un_dtf_par_mois(dtfglobal=videos_can, list_dict_dates=liste_mois)
# Donne les tags les plus utilisés sur la période de temps écoulée entre datemin et datemax
top_tags_global = tv810.liste_top_tags_de_chaines (dtfv = videos_can, top = 15, liste_exceptions= lst_exceptions,graph='non')

In [7]:
dtf_tauxtags_mois = tv810.taux_tags_par_mois(listedtfmois=dtf_mensuel_candidat)
dtf_tauxtags_mois.head(20)

          Janvier  Février     Mars
avec tags      84  97.2222  69.2308
sans tags      16  2.77778  30.7692

In [8]:
videos_can = videos_candidats_toutes[videos_candidats_toutes['candidat'] == candidat]
videos_can = videos_can[videos_can['dateVideo'] > datetime.datetime(2022,1,1,0,0,0)]
videos_can = videos_can[videos_can['dateVideo'] < datetime.datetime(2022,4,1,0,0,0)]
print("total videos : " + str(videos_can.shape[0]))

globaltagdtf = tv810.turnserie_intodtf(nomcolonne="Total", serie_data=top_tags_global)

total videos : 126

In [9]:
for dtf in dtf_mensuel_candidat :
    mois_courant  = dtf['mois']
    dtfmois  = dtf['dataframe']
    print(mois_courant + " : " + str(dtfmois.shape[0]))

Janvier : 25
Février : 36
Mars : 65

In [10]:
# print(top_tags_global)

In [11]:
dtf = tv810.nb_tags_par_mois(listedtfmois=dtf_mensuel_candidat,toptagsglobal=top_tags_global, lst_except=lst_exceptions)
dtf = dtf.join(globaltagdtf)
dtf = dtf.sort_values(by = ["Total"], ascending = False)
dtf.head(20)

               Janvier Février Mars  Total
jadot 2022          11      19   39     69
yannick jadot        3      17   39     59
iMovie               4       8    3     15
manifestation        0       4    3      7
ukraine              0       4    2      6
ukrainien            0       4    2      6
solidarité           0       4    2      6
russie               0       4    2      6
écologie             1       3    1      5
meeting              0       4    0      4
Politique            0       3    0      3
présidentielle       0       3    0      3
Rennes               0       3    0      3
JADOT 2022           2       1    0      3
santé                2       0    0      2

In [12]:
tfb = tv810.part_tags_par_mois(listedtfmois=dtf_mensuel_candidat,toptagsglobal=top_tags_global, lst_except=lst_exceptions)

In [13]:
delta_taux = tv810.gen_delta(dtfsource=tfb, colfin="Mars", coldeb="Janvier", nomcol="Delta")
delta_taux.head(20)

                Janvier  Février     Mars      Delta
santé           18.1818        0        0 -18.181818
Politique             0  15.7895        0   0.000000
présidentielle        0  15.7895        0   0.000000
Rennes                0  15.7895        0   0.000000
JADOT 2022      18.1818  5.26316        0 -18.181818
meeting               0  21.0526        0   0.000000
écologie        9.09091  15.7895   2.5641  -6.526807
ukraine               0  21.0526  5.12821   5.128205
ukrainien             0  21.0526  5.12821   5.128205
solidarité            0  21.0526  5.12821   5.128205
russie                0  21.0526  5.12821   5.128205
manifestation         0  21.0526  7.69231   7.692308
iMovie          36.3636  42.1053  7.69231 -28.671329
yannick jadot   27.2727  89.4737      100  72.727273
jadot 2022          100      100      100   0.000000